@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.name span:nth-child(1),
.name span:nth-child(2),
.name span:nth-child(3),
.name span:nth-child(4),
.name span:nth-child(5),
.name span:nth-child(6),
.name span:nth-child(10),
.name span:nth-child(11),
.name span:nth-child(12),
.name span:nth-child(13){
  animation: down-in 0.5s forwards;
  pointer-events: none;
}

.name:hover span:nth-child(1),
.name:hover span:nth-child(2),
.name:hover span:nth-child(3),
.name:hover span:nth-child(4),
.name:hover span:nth-child(5),
.name:hover span:nth-child(6),
.name:hover span:nth-child(10),
.name:hover span:nth-child(11),
.name:hover span:nth-child(12),
.name:hover span:nth-child(13){
  animation: out-up 0.5s forwards;
  pointer-events: none;
}

@keyframes out-up {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes down-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  @apply bg-black text-white;
}

.appear {
  animation: appear 0.2s ease-out forwards;
}

.album .wrapper {
  @apply rounded-sm border-black transition-all;
  animation: appear 0.2s ease-out forwards;
}

.album .wrapper:hover {
  @apply scale-[101%];
}

.album:hover .wrapper:not(:hover) {
  @apply scale-[97%] opacity-80 brightness-90;
}

/* Styles for Webkit browsers */
/* Customize scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Change this to customize track color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d4d4d; /* Change this to customize handle color */
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change this to customize handle color on hover */
}
